/***********************/
/**** Global styles ****/
/***********************/
@import url("fonts.css");
html, body {
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: white;
	font-size: 13px;
	font-family: "Exo 2";
	font-style: normal;
	overflow: hidden;
	position: relative;
}

canvas {
	background: black;
}

h1 {
	font-size: 6.15em;
	margin: 0px;
}

.clear {
	clear: both;
}

.light {
	font-weight: 100;
}

.extra-bold {
	font-weight: 900;
}
.button {
	width : 174px;
	height: 49px;
	background-image: url('../img/button-off.png');
	background-size: 174px 49px;
	line-height: 44px;
	font-size: 1.66em;
}

.button.selected {
	background-image: url('../img/button-on.png');
}
.button:hover {
	cursor: pointer;;
}
.no-pointer-events {
	pointer-events: none;
}
/***************************/
/**** UI styles - intro ****/
/***************************/
body.intro #intro {
	display: block;
}

#intro {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
	margin-top: 20%;
	display: none;
}

#intro .red.line {
	width: 90%;
	height: 5px;
	background-color: #cc423b;
	margin: 0 auto;
	margin-top: 0.5em;
	position: relative;
	z-index: 1;
}
#intro h1.light {
	z-index: 0;
	opacity: 0;
}
#intro h1.extra-bold {
	margin-top: -10px;
	opacity: 0;
}
#intro .button {
	margin: 0 auto;
	margin-top: 30%;
	opacity: 0;
}
/*****************************/
/**** UI styles - in game ****/
/*****************************/
#ui #in-game {
	position: relative;
	display: none;
}

body.in-game #ui #in-game {
	display: block;
}

#ui #in-game #hud {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 1em;
	pointer-events: none;
	opacity: 0;
}

#ui #in-game #hud #lives {
	width: 33%;
	float: left;
}
#ui #in-game #hud #lives .life {
	display:inline-block;
}

#ui #in-game #hud #points {
	width: 33%;
	float: left;
	color: #cc423b;
	margin-top: -4px;
}
#ui #in-game #hud #points #points-container {
	display: inline-block;
}
#ui #in-game #hud #points #points-container #count {
	float: left;
	font-size: 2.315em;
	font-weight: 600;

}
#ui #in-game #hud #points #points-container #multiplier {
	float: left;
	font-size: 1.33em;
	margin-top: 0.33em;
}

#ui #in-game #hud #missiles {
	width: 33%;
	float:left;
}

#ui #in-game #hud #missiles .missile {
	width: 15px;
	height: 32px;
	background-image: url('../img/missile-full.png');
	background-size: 15px 32px;
	display:inline-block;
}

#ui #in-game #hud #missiles .missile.empty {
	background-image: url('../img/missile-empty.png');
}

#ui #in-game #hud #lives .life {
	width: 15px;
	height: 28px;
	background-image: url('../img/life-full.png');
	background-size: 15px 28px;
	display:inline-block;
}

#ui #in-game #hud #lives .life.empty {
	background-image: url('../img/life-empty.png');
}

#ui .score {
	color: #cc423b;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow:
    -1px -1px 0 #bce9ff,
    1px -1px 0 #bce9ff,
    -1px 1px 0 #bce9ff,
    1px 1px 0 #bce9ff; 
}